/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sunflower', sans-serif; */
/* font-family: 'Trade Winds', cursive; */
/* font-family: 'Open Sans', sans-serif; */
@font-face {
    font-family: 'league-gothic';
    src: 'fonts/League-Gothic/LeagueGothic-CondensedRegular.otf';
}
h1 {
    font-family: 'Trade Winds', cursive;
    font-size: 34px;
    color: #092846;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: green;
  }
 .button1{
      width: 90px;
      height: 50px;
      left: calc(50% - 50px/2 - 355px);
      top: calc(50% - 50px/42.5px);
      background : #7310c1;
      border: none;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: .5ch;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #514975;
      padding: 15px 15px
  }
  .button3 {
      width: 90px;
      height: 50px;
      background : #7310c1;
      border: 1px solid #35278d;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bolder;
      font-size: 15px;
      letter-spacing: .5ch;
      line-height: 22px;
      align-items: center;
      text-align: center;
      color: #f2c94c;
  }

  .button2{
      width: 90px;
      height: 50px;
      background : #ffffff;
      border : 1px solid #000000;
      border-radius : 2px;
      font-family: 'Sunflower', sans-serif;
      font-style: normal;
      font-weight: bolder;
      font-size: 14px;
      letter-spacing: .5ch;
      line-height: 17px;
      align-items: center;
      text-align: center;
      color: #000000;
      padding: 15px 15px;
  }

  .flat{
      height: 16px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300px;
      font-size: 14px;
      line-height: 16px;
      align-items: center;
      text-align: center;
      color: #000000;
}

  .brutal{
      height: 18px;
      font-family: 'Sunflower', sans-serif;
      font-style: normal;
      font-weight: 300px;
      font-size: 14px;
      line-height: 17px;
      align-items: center;
      text-align: center;
      color: #000000;
  }

  .material{
      height: 20px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: bolder;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      color: #000000;
  }